@font-face {
	font-family: "MuseoSansCyr";
	src: url("fonts/MuseoSansCyrl-300.ttf");
}
:root {
	--White: rgb(205, 199, 199);
	--White2: rgb(179, 179, 179);
	--White3: rgb(159, 159, 159);
}
body {
	background-color: rgb(20, 20, 20);
	z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color: var(--White);
	text-align: center;
	font-size: 60px;
	font-family: "MuseoSansCyr"; 
	margin-bottom: 0;
}
h2 {
	color: var(--White2);
	text-align: center;
	font-size: 32px;
	font-family: "MuseoSansCyr"; 
}
ul {
	color: var(--White2);
	font-size: 16px;
	list-style:circle;
	transition: all 0.75s;
	position: relative;
	left: 0;
}
p, li, a, span {
	color: var(--White3);
	text-align: center;
	font-size: 22px;
	font-family: "MuseoSansCyr"; 
	position: relative;
	transition: all 0.5s;
	font-weight: normal;
}
li, a { 
	text-align: start; 
}
.targetLi { 
	filter: brightness(1.5); 
}
.notTargetLi { 
	filter: brightness(0.3); 
}
span { 
	margin: 0 20px;
	width: min-content;
}
a { 
	transition: all 0.3s; 
}
a:hover { 
	filter: inherit; 
}
main, footer {
	width: 70vw;
	background-color: rgb(25, 25, 25);
	justify-content: center;
}
@media screen and(min-width: 1300px){
	main, footer {
		width: 60vw;
	}
}
@media screen and(max-width: 800px){
	main, footer {
		width: 90vw;
	}
}
footer {    
	display: flex;
    flex-direction: column;
    align-items: center;
}
#canvasContainer {
	width: 70vw;
	height: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactInformation {
	max-width: 650px;
	width: 90%;
	position: relative;
	left: -100vw;
	margin: 0 auto;
	transition: all 0.75s;
	overflow-x: hidden;
	overflow-y: hidden;
}
.contactInformation[data-status = "true"] {
	left: 0;
	transition: all 0.75s;
	visibility: visible;
} 
.contactInformation[data-status = "false"] {
	left: -100vw;
	transition: all 0s;
	visibility: hidden;
}
.contactInformation[data-status = "true"] li:nth-child(odd), .contactInformation[data-status = "true"] li:nth-child(even) {
	animation-name: scaleYAppearence;
	animation-duration: 2s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
}
.contactInformation[data-status = "true"] li:nth-child(even) {
	animation-name: scaleXAppearence;
}
@keyframes scaleYAppearence {
	from {
		visibility: hidden;
		top: 100vh;
	}
	to {
		visibility: visible;
		top: 0;
	}
}
@keyframes scaleXAppearence {
	from {
		visibility: hidden;
		left: 100vw;
	}
	to {
		visibility: visible;
		left: 0;
	}
}
.avatar {
	width: 100px;
	position: fixed;
	bottom: 15px;
	right: 0%;
}
.line {
	max-width: 650px;
	width: 90%;
	height: 2px;
	background-color: var(--White);
	margin-right: auto;
	margin-left: auto;
}	
.footer_board {
	width: 70%;
	border-width: 2px 0 0 0;
	border-color: var(--White2);
	border-style: solid;
	visibility: hidden;
}
.footer_board ul {
	list-style:none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.footer_board[data-status = "true"] {
	animation-name: from-head-appearence;	
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes from-head-appearence {
	from {
		visibility: hidden;
		transform: rotateY(90deg);
	}
	to {
		visibility: visible;
		transform: rotateY(0deg);
	}
}
li .contactElement { 
	transition: all 0.25s;
	margin: 10px; 
}
li .contactElement:hover {
	width: 40px;
	height: 40px;
	margin: 8px;
}
.contactElement {
	width: 36px;
	height: 36px;
}
.window {
	height: 16vh;
	width: 100%;
}