@font-face {
	font-family: "MuseoSansCyr";
	src: url("fonts/MuseoSansCyrl-300.ttf");
}
:root {
	--White: rgb(205, 199, 199);
	--White2: rgb(179, 179, 179);
	--White3: rgb(159, 159, 159);
}
body {
	background-color: rgb(20, 20, 20);
	z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color: var(--White);
	text-align: center;
	font-size: 60px;
	font-family: "MuseoSansCyr"; 
	margin-bottom: 0;
}
h2 {
	color: var(--White2);
	text-align: center;
	font-size: 32px;
	font-family: "MuseoSansCyr"; 
}
p {
	color: var(--White3);
	text-align: center;
	font-size: 22px;
	font-family: "MuseoSansCyr"; 
	position: relative;
}
a {
	color: var(--White2);
	border-bottom: 0px;
	transition:all 0.3s;
}
a:hover {
	opacity: 0.6;
}

main, footer {
	width: 70vw;
	background-color: rgb(25, 25, 25);
	justify-content: center;
}
#canvasContainer {
	z-index: 0;
	width: 70vw;
	height: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactInformation {
	max-width: 650px;
	width: 90%;
	margin: 0 auto 150px auto;
	position: relative;
	left: -100vw;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-name: none;
	animation-timing-function: linear;
	transition: all 3s;
	transition-delay: 3s;
}
.contactInformation[data-status = "true"] {
	animation-name: left-right-appearence; 
}
@keyframes left-right-appearence {
	to { left: 0; }	
}
.avatar {
	width: 100px;
	position: fixed;
	bottom: 15px;
	right: 0%;
}
.line {
	max-width: 650px;
	width: 90%;
	height: 2px;
	background-color: var(--White);
	margin-right: auto;
	margin-left: auto;
}	
ul {
	list-style:none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
li { 
	transition: all 0.25s;
	margin: 10px; 
}
li:hover {
	width: 40px;
	height: 40px;
	margin: 8px;
	opacity: 40%;
}
.contactElement {
	width: 36px;
	height: 36px;
}