* {
	margin: 0;
	font-family: 'Roboto';
}

html, body {
	width: 100%;
	height: 100%;
}

.body {
	background-color: rgb(10, 10, 10);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* General */
.title, .text {
	text-align: center;
	color: rgb(216, 216, 216);
}

#canvas__anchor {
	height: 100%;
	width: 100%;
}

/* Content */
.content {
	width: 100%;
	height: 600px;
}

.content__icons-wrapper {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content__reference {
	width: 30px;
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content__icon {
	width: 100%;
}

.content__icon_inverted {
	filter: invert(1);
}